<%= form_with(model: [@event, participation], local: true, 
  data: { controller: "seats", "seats-unit-price-value": (@event.price_cents ), turbo: false }, 
  class: "space-y-6") do |form| %>

  <% if participation.errors.any? %>
    <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(participation.errors.count, "error") %> prevented the reservation:</h2>
      <ul class="list-disc ml-6">
        <% participation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Seats select field with Stimulus -->
  <div class="space-y-2">
    <%= form.label :seats, "Choisissez votre nombre de places", class: "block mb-2 font-medium text-white" %>

    <div class="relative">
      <%= form.select :seats,
        options_for_select((1..[@event.available_spots, 10].min).map { |n| [pluralize(n, "place"), n] }, selected: 1),
        {},
        class: "block w-full appearance-none rounded-md border px-4 py-3 pr-10 text-base bg-black text-white border-gray-500 focus:outline-none focus:ring-2 focus:ring-gold-500 [&::-ms-expand]:hidden",
        data: { action: "seats#updatePrice" } %>

      <!-- Chevron icon -->
      <div class="absolute inset-y-0 right-0 flex items-center px-3 pointer-events-none">
        <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
        </svg>
      </div>
    </div>
  </div>

  <!-- Dynamic total price -->
  <div class="text-white text-lg font-semibold">
    Total: <span data-seats-target="price"><%= display_price(@event.price_cents) %></span>
  </div>

  <!-- Submit -->
  <div>
    <%= form.submit "Payez maintenant", 
        class: "booking-button w-full block text-center bg-gradient-to-r from-gold-500 to-gold-600 hover:from-gold-600 hover:to-gold-700 text-white font-bold py-4 rounded-xl text-lg transition-all duration-300 hover:scale-105 shadow-lg shadow-gold-500/25 border border-gold-400/30" %>
  </div>


<% end %>
