<%= form_with(model: movie, class: "contents") do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul class="list-disc ml-6">
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": movie.errors[:title].none?, "border-red-400 focus:outline-red-600": movie.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :synopsis %>
    <%= form.textarea :synopsis, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": movie.errors[:synopsis].none?, "border-red-400 focus:outline-red-600": movie.errors[:synopsis].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :director %>
    <%= form.text_field :director, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": movie.errors[:director].none?, "border-red-400 focus:outline-red-600": movie.errors[:director].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :duration %>
    <%= form.number_field :duration, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": movie.errors[:duration].none?, "border-red-400 focus:outline-red-600": movie.errors[:duration].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :genre %>
    <%= form.text_field :genre, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": movie.errors[:genre].none?, "border-red-400 focus:outline-red-600": movie.errors[:genre].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :language %>
    <%= form.text_field :language, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": movie.errors[:language].none?, "border-red-400 focus:outline-red-600": movie.errors[:language].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :year %>
    <%= form.number_field :year, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": movie.errors[:year].none?, "border-red-400 focus:outline-red-600": movie.errors[:year].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :trailer_url %>
    <%= form.text_field :trailer_url, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": movie.errors[:trailer_url].none?, "border-red-400 focus:outline-red-600": movie.errors[:trailer_url].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :poster_url %>
    <%= form.text_field :poster_url, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": movie.errors[:poster_url].none?, "border-red-400 focus:outline-red-600": movie.errors[:poster_url].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
