<div id="<%= dom_id movie %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= movie.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Synopsis:</strong>
    <%= movie.synopsis %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Director:</strong>
    <%= movie.director %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Duration:</strong>
    <%= movie.duration %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Genre:</strong>
    <%= movie.genre %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Language:</strong>
    <%= movie.language %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Year:</strong>
    <%= movie.year %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Trailer url:</strong>
    <%= movie.trailer_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Poster url:</strong>
    <%= movie.poster_url %>
  </div>
</div>
