<div id="<%= dom_id creator %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= creator.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= creator.bio %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= creator.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Verified at:</strong>
    <%= creator.verified_at %>
  </div>
</div>
